

<h1>Trabajo Práctico Entregable - Desarrollo Web</h1>
<table style="border: 1px solid">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Capacity</th>
      <th>Screen Size</th>
      <th>Generation</th>
      <th>Price</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let element of elements">
      <td>{{ element.id }}</td>
      <td>{{ element.name }}</td>
      <td>{{ element.data.capacity || '-' }}</td>
      <td>{{ element.data.screenSize || '-' }}</td>
      <td>{{ element.data.generation || '-' }}</td>
      <td>{{ element.data.price || '-' }}</td>
      <td><button (click)="viewElement(element)">View</button></td>
      <td><button (click)="deleteElement(element.id)">Delete</button></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td><input [(ngModel)]="newElement.name" placeholder="Ingrese el modelo"></td>
      <td><input [(ngModel)]="newElement.data.capacity" placeholder="Ingrese la capacidad"></td>
      <td><input [(ngModel)]="newElement.data.screenSize" placeholder="Ingrese el tamaño de pantalla"></td>
      <td><input [(ngModel)]="newElement.data.generation" placeholder="Ingrese la generación"></td>
      <td><input [(ngModel)]="newElement.data.price" placeholder="Ingrese el precio"></td>
      <td colspan="2"><button (click)="saveElement()">Agregar</button></td>
    </tr>
  </tfoot>
</table>

<!-- Pop-up for updating -->
<div *ngIf="isPopupVisible" class="popup">
  <h3>Actualizar registro</h3>
  <label>Id:</label>
  <input [(ngModel)]="selectedElement.id" readonly>
  <label>Modelo:</label>
  <input [(ngModel)]="selectedElement.name">
  <label>Capacidad:</label>
  <input [(ngModel)]="selectedElement.data.capacity">
  <label>Tamaño de Pantalla:</label>
  <input [(ngModel)]="selectedElement.data.screenSize">
  <label>Generación:</label>
  <input [(ngModel)]="selectedElement.data.generation">
  <label>Precio:</label>
  <input [(ngModel)]="selectedElement.data.price">
  <button (click)="updateElement()">Actualizar</button>
  <button (click)="closePopup()">Cerrar</button>
</div>
