<h1>Elementos</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Capacity</th>
      <th>Color</th>
      <th>Screen Size</th>
      <th>Generation</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let element of elements">
      <td>{{ element.id }}</td>
      <td>{{ element.name }}</td>
      <td>{{ element.data?.capacity || '-' }}</td>
      <td>{{ element.data?.color || '-' }}</td>
      <td>{{ element.data?.screenSize || '-' }}</td>
      <td>{{ element.data?.generation || '-' }}</td>
      <td>{{ element.data?.price || '-' }}</td>
      <td class="table-actions">
        <button class="btn-view" (click)="viewElement(element)">View</button>
        <button class="btn-delete" (click)="deleteElement(element.id)">Delete</button>
      </td>
    </tr>
    <tr>
      <td>New</td>
      <td><input [(ngModel)]="newElement.name" placeholder="Name"></td>
      <td><input [(ngModel)]="newElement.data.capacity" placeholder="Capacity"></td>
      <td><input [(ngModel)]="newElement.data.color" placeholder="Color"></td>
      <td><input [(ngModel)]="newElement.data.screenSize" placeholder="Screen Size"></td>
      <td><input [(ngModel)]="newElement.data.generation" placeholder="Generation"></td>
      <td><input type="number" [(ngModel)]="newElement.data.price" placeholder="Price"></td>
      <td>
        <button class="btn-primary" (click)="saveElement()">Add</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Popup Modal -->
<div *ngIf="isPopupVisible" id="popUp">
  <h3>Detalles del Elemento</h3>
  <table>
    <tr>
      <td>ID:</td>
      <td>{{ selectedElement?.id }}</td>
    </tr>
    <tr>
      <td>Name:</td>
      <td><input [(ngModel)]="selectedElement.name"></td>
    </tr>
    <tr>
      <td>Capacity:</td>
      <td><input [(ngModel)]="selectedElement.data.capacity"></td>
    </tr>
    <tr>
      <td>Color:</td>
      <td><input [(ngModel)]="selectedElement.data.color"></td>
    </tr>
    <tr>
      <td>Screen Size:</td>
      <td><input [(ngModel)]="selectedElement.data.screenSize"></td>
    </tr>
    <tr>
      <td>Generation:</td>
      <td><input [(ngModel)]="selectedElement.data.generation"></td>
    </tr>
    <tr>
      <td>Price:</td>
      <td><input type="number" [(ngModel)]="selectedElement.data.price"></td>
    </tr>
  </table>
  <div class="modal-buttons">
    <button  (click)="closePopup()">Close</button>
    <button  (click)="updateElement()">Update</button>
  </div>
</div>
